@import '_variables.scss';


.primary-yellow-txt{
    color : $primary-yellow;
}

.secondary-gray-txt{
    color : $secondary-gray;
}

.d-flex{
    display: flex;
}


.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: flex-start;
}


@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
}

@for $i from 10 through 18 {
    .font-size-#{$i}{
        font-size: #{$i}px;
    }
}
